$primary_color: #9356DC;

$secondary_color: #FF79DA;

$tertiary_color: #99E2D0;

$main_background_color: #F6F6F6;

$location_background_color: #EAEAEA;

$location_color: #353535;

$white_color: #FFFFFF;

h1 {
    font-size: 24px;
    margin: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

body {
    align-items: center;
    flex-direction: column;

    font-family: Roboto;

    margin: 0px;

    background-color: $main_background_color;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0px;

    background-color: $white_color;

    img {
        align-self: center;

        margin: 20px 0px 15px 0px;
    }

    .header__location {
        display: flex;
        justify-content: center;

        margin: 0px;
        padding: 15px;
        gap: 17px;

        background-color: $location_background_color;
        color: $location_color;

        filter: drop-shadow(0px 4px 4px);

        font-weight: bold;
    }
}

nav {

    text-align: center;

    padding-top: 40px;
    padding-bottom: 40px;

    .nav__button {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            border: hidden;
            border-radius: 25px;

            color: $white_color;
            background: linear-gradient($secondary_color, $primary_color);

            text-decoration: none;

            h4 {
                margin: 15px 20px 15px 20px;

                font-weight: 500;
            }
        }
    }

    h1 {
        margin: 0px 60px 0px 60px;
    }

    h2 {
        font-weight: 300;
    }
}

.fonctionnement {

    display: flex;

    flex-direction: column;

    background-color: $white_color;

    padding-top: 30px;

    padding-bottom: 30px;

    gap: 15px;

    .fonctionnement__article {

        display: flex;

        align-items: center;

        position: relative;

        .fonctionnement__number {

            border: hidden;
            border-radius: 50%;
            text-align: center;

            color: $white_color;
            background-color: #9356DC;

            width: 24px;
            height: 24px;

            position: absolute;
            left: 18px;

            font-size: 14px;
            line-height: 28px;
        }

        .fonctionnement__content {

            display: flex;
            align-items: baseline;

            flex-grow: 1;

            gap: 20px;
            border-radius: 20px;

            border: hidden;

            background-color: #F6F6F6;
            color: $location_color; //TEMPORARY

            margin-right: 20px;
            margin-left: 30px;
            padding-left: 30px;
        }

    }
}

.restaurants {

    display: flex;
    flex-direction: column;

    gap: 18px;

    margin-bottom: 75px;

    img {

        object-fit: cover;

        width: 100%;
        height: 170px;

        border-radius: 15px 15px 0 0;

    }

    .restaurants__article {

        margin: 0 20px 0 20px;

        border-radius: 0 0 15px 15px;

        background-color: #FFFFFF;

        .restaurants__content {

            display: flex;

            justify-content: space-between;

            margin-left: 10px;
            margin-right: 40px;

            .restaurants__text {

                h2 {
                    margin-top: 15px;
                    margin-bottom: 0;
                }

                h4 {
                    margin-top: 10px;
                    margin-bottom: 15px;

                    font-weight: 300;
                }

            }

            .restaurants__favorite {

                display: flex;
                align-self: center;

                i {

                }
            }
        }
    }
}

footer {

    background-color: $location_color;
    color: #FFFFFF;

    padding: 20px;

    h2 {
        font-family: Shrikhand;
        font-weight: 500;
        margin-top: 0;
    }

    h3 {

        margin: 0;
        padding-bottom: 7px;
        font-weight: 400;

    }

    .footer__click {

        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-items: center;

        gap: 15px;

        i {
            height: 13px;
            width: 12px;
        }

        h3 {
            font-weight: 500;
        }
    }
}