@keyframes Heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}
h1 {
  font-size: 24px;
  margin: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 16px;
}

body {
  align-items: center;
  font-family: Roboto;
  margin: 0px;
  background-color: #F6F6F6;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
header .header__return {
  display: flex;
  flex-direction: row;
  align-self: center;
}
header .header__return a {
  color: black;
}
header img {
  margin: 20px 0px 15px 0px;
  align-self: center;
}
header i {
  position: absolute;
  left: 25px;
  top: 33px;
}
header .header__imageresto img {
  display: block;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  top: 75px;
  width: 100%;
  height: 275px;
  margin: 0;
}

.menu {
  margin: 240px 0px 0 0px;
  padding-top: 30px;
  border-radius: 50px 50px 0px 0px;
  background-color: #F6F6F6;
}
.menu .menu__titre {
  display: flex;
  align-items: center;
  margin-left: 13px;
  gap: 40px;
}
.menu .menu__titre h5 {
  font-weight: 400;
  font-size: 28px;
  font-family: Shrikhand;
  margin: 0;
}
.menu .menu__titre .menu__favorite {
  display: flex;
  align-self: center;
  padding: 0;
  border: 0;
  background-color: #F6F6F6;
  cursor: pointer;
}
.menu .menu__titre .menu__favorite .fa-regular::before {
  position: relative;
  background: black;
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 0;
}
.menu .menu__titre .menu__favorite .fa-solid {
  position: absolute;
  height: 21px;
  width: 21px;
}
.menu .menu__titre .menu__favorite .fa-solid::before {
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  left: -0.5px;
  z-index: -1;
}
.menu .menu__titre .menu__favorite:hover .fa-regular::before {
  position: relative;
  -webkit-background-clip: text;
          background-clip: text;
}
.menu .menu__titre .menu__favorite:hover .fa-solid {
  position: absolute;
  animation-name: Heart;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}
.menu .menu__titre .menu__favorite:hover .fa-solid::before {
  position: relative;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  z-index: 1;
  top: 0.5px;
}
.menu .menu__plats {
  margin-left: 13px;
  margin-right: 13px;
}
.menu .menu__plats p {
  font-size: 16px;
  margin-top: 40px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-color: #99E2D0;
  width: 40px;
}
.menu .menu__plats .menu__plats__indiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  border: hidden;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  cursor: pointer;
}
.menu .menu__plats .menu__plats__indiv .menu_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition-duration: 400ms;
  transform: scale(0);
}
.menu .menu__plats .menu__plats__indiv .menu_check i {
  align-self: center;
  color: #99E2D0;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
}
.menu .menu__plats .menu__plats__indiv .menu_left {
  width: 100%;
}
.menu .menu__plats .menu__plats__indiv .menu_left h2 {
  margin: 12px;
  justify-self: left;
}
.menu .menu__plats .menu__plats__indiv .menu__plats__indiv__prix {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu .menu__plats .menu__plats__indiv .menu__plats__indiv__prix h4 {
  margin: 0 12px 12px 12px;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu__plats .menu__plats__indiv .menu__plats__indiv__prix .menu__plats__indiv__prix--bold {
  font-weight: bold;
}
.menu .menu__plats .menu__plats__indiv:hover .menu_check {
  display: flex;
  width: 75px;
  transform: scale(1);
}
.menu .menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.menu .menu__button a {
  border: hidden;
  border-radius: 25px;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
  opacity: 1;
  transition: opacity 500ms;
}
.menu .menu__button a h4 {
  margin: 15px 40px 15px 40px;
  font-weight: 500;
}
.menu .menu__button a:hover {
  opacity: 0.8;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}
footer h2 {
  font-family: Shrikhand;
  font-weight: 500;
  margin-top: 0;
}
footer h3 {
  margin: 0;
  padding-bottom: 7px;
  font-weight: 400;
}
footer .footer__click {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-items: center;
  gap: 15px;
}
footer .footer__click i {
  height: 13px;
  width: 12px;
}
footer .footer__click h3 {
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  body {
    background-color: #FFFFFF;
  }
  header img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header i {
    position: absolute;
    left: 25px;
    top: 45px;
  }
  header .header__imageresto img {
    height: 383px;
    top: 75px;
  }
  .menu {
    margin-left: 192px;
    margin-right: 192px;
    margin-top: 290px;
    padding-top: 30px;
    background-color: #F6F6F6;
  }
  .menu .menu__titre {
    justify-content: center;
  }
  .menu .menu__plats {
    margin-left: 210px;
    margin-right: 210px;
  }
  .menu .menu__plats p {
    margin-left: 0;
  }
  .menu .menu__button {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding-top: 50px;
  }
  footer h2 {
    margin: 0;
  }
  footer .footer__content {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer .footer__content .footer__click h3 {
    font-size: 16px;
  }
}/*# sourceMappingURL=restaurants.css.map */