$primary_color: #9356DC;

$secondary_color: #FF79DA;

$tertiary_color: #99E2D0;

$main_background_color: #F6F6F6;

$location_background_color: #EAEAEA;

$location_color: #353535;

$white_color: #FFFFFF;

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Heart {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes MenuLoaded {
    from {
        transform: scale(0);
        translate: 200% 0;
    }

    to {
        transform: scale(1);
        translate: 0 0;
    }
}

@keyframes MenuPlatsPop {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1)
    }
}

h1 {
    font-size: 24px;
    margin: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

body {
    align-items: center;

    font-family: Roboto;

    margin: 0px;

    background-color: $main_background_color;

    animation-name: FadeIn;
    animation-duration: 1s;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: $white_color;

    .header__return {

        display: flex;
        flex-direction: row;

        align-self: center;

        a {

            color: black;

        }


    }

    img {

        margin: 20px 0px 15px 0px;

        align-self: center;
    }

    i {

        position: absolute;
        left: 25px;
        top: 33px;

    }

    .header__imageresto {

        img {

            display: block;

            position: absolute;

            object-fit: cover;

            z-index: -1;

            top: 75px;

            width: 100%;
            height: 275px;

            margin: 0;

        }
    }
}

.menu {

    margin: 240px 0px 0 0px;

    padding-top: 30px;

    border-radius: 50px 50px 0px 0px;

    background-color: #F6F6F6;

    .menu__titre {

        display: flex;

        align-items: center;

        margin-left: 13px;

        gap: 40px;

        h5 {

            font-weight: 400;

            font-size: 28px;

            font-family: Shrikhand;

            margin: 0;

        }

        .menu__favorite {

            display: flex;
            align-self: center;

            padding: 0;
            border: 0;

            background-color: $main_background_color;

            cursor: pointer;

            .fa-regular {

                &::before {

                    position: relative;
                    background: black;
                    background-clip: text;
                    z-index: 0;

                }

            }

            .fa-solid {

                position: absolute;
                height: 21px;
                width: 21px;

                &::before {

                    position: absolute;
                    background: linear-gradient($secondary_color, $primary_color);
                    background-clip: text;
                    left: -0.5px;
                    z-index: -1;

                }

            }

        }

        .menu__favorite:hover {

            .fa-regular {

                &::before {

                    position: relative;
                    background-clip: text;

                }

            }

            .fa-solid {

                position: absolute;

                animation-name: Heart;
                animation-duration: 0s;
                animation-fill-mode: forwards;

                &::before {

                    position: relative;
                    background: linear-gradient($secondary_color, $primary_color);
                    background-clip: text;
                    color: transparent;
                    z-index: 1;
                    top: 0.5px;

                }

            }

        }

    }

    .menu__plats {

        margin-left: 13px;
        margin-right: 13px;

        &--animationtop {

            animation-name: MenuLoaded;
            animation-duration: 1s;

        }

        &--animationmiddle {

            animation-name: MenuLoaded;
            animation-duration: 1.5s;

        }

        &--animationbottom {

            animation-name: MenuLoaded;
            animation-duration: 2s;

        }

        p {

            font-size: 16px;

            margin-top: 40px;

            padding-bottom: 5px;

            border-bottom: solid;

            border-color: $tertiary_color;

            width: 40px;
            ;

        }

        .menu__plats__indiv {

            display: flex;

            flex-direction: row;

            justify-content: space-between;

            width: 100%;

            padding: 0;

            border: hidden;

            border-radius: 15px;

            background-color: #FFFFFF;

            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);

            margin-bottom: 12px;

            transform: scale(0);

            cursor: pointer;

            &--animation1 {

                animation-name: MenuPlatsPop;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;

            }

            &--animation2 {

                animation-name: MenuPlatsPop;
                animation-delay: 1s;
                animation-duration: 1.25s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;

            }

            &--animation3 {

                animation-name: MenuPlatsPop;
                animation-delay: 1s;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;

            }

            &--animation4 {

                animation-name: MenuPlatsPop;
                animation-delay: 1s;
                animation-duration: 1.75s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;

            }

            .menu_check {

                display: flex;

                justify-content: center;

                align-items: center;

                width: 0px;

                border-radius: 0px 15px 15px 0px;

                background-color: $tertiary_color;

                transition-duration: 400ms;
                transform: scale(0);

                i {

                    align-self: center;

                    color: $tertiary_color;

                    background-color: white;

                    border-radius: 25px;

                    padding: 5px;

                }

            }

            .menu_left {

                display: block;

                width: 100%;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;

                h2 {

                    margin: 12px;

                    justify-self: left;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;

                }
            }

            .menu__plats__indiv__prix {

                display: flex;

                justify-content: space-between;

                overflow: hidden;

                h4 {

                    margin: 0 12px 12px 12px;

                    font-weight: 300;

                    font-size: 15px;

                }

                .menu__plats__indiv__prix--bold {

                    font-weight: bold;

                }

            }

        }

        .menu__plats__indiv:hover {

            .menu_check {

                display: flex;

                width: 75px;

                transform: scale(1.0);

            }

        }

    }


    .menu__button {

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 40px;

        a {
            border: hidden;
            border-radius: 25px;

            color: $white_color;
            background: linear-gradient($secondary_color, $primary_color);

            text-decoration: none;

            box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;

            opacity: 1;

            transition: opacity 500ms;

            h4 {
                margin: 15px 40px 15px 40px;

                font-weight: 500;

            }

            &:hover {

                opacity: 0.8;

            }
        }
    }
}

footer {

    background-color: $location_color;
    color: #FFFFFF;

    padding: 20px;

    h2 {
        font-family: Shrikhand;
        font-weight: 500;
        margin-top: 0;
    }

    h3 {

        margin: 0;
        padding-bottom: 7px;
        font-weight: 400;

    }

    .footer__click {

        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-items: center;

        gap: 15px;

        i {
            height: 13px;
            width: 12px;
        }

        h3 {
            font-weight: 500;
        }
    }
}

@media screen and (min-width:1440px) {

    body {


        background-color: $white_color;
    }

    header {

        img {

            margin-top: 30px;
            margin-bottom: 30px;

        }

        i {

            position: absolute;
            left: 25px;
            top: 45px;

        }

        .header__imageresto {

            img {

                height: 383px;

                top: 75px;

            }
        }

    }

    .menu {

        margin-left: 192px;
        margin-right: 192px;

        margin-top: 290px;

        padding-top: 30px;

        background-color: #F6F6F6;

        .menu__titre {

            justify-content: center;

        }

        .menu__plats {

            margin-left: 210px;
            margin-right: 210px;

            p {

                margin-left: 0;

            }

        }

        .menu__button {

            margin-bottom: 0;
            padding-bottom: 40px;

        }

    }

    footer {

        display: flex;

        flex-direction: row-reverse;

        gap: 50px;

        padding-top: 50px;

        h2 {

            margin: 0;

        }

        .footer__content {

            display: flex;

            flex-direction: row;

            gap: 15px;

            .footer__click {

                h3 {

                    font-size: 16px;

                }

            }

        }

    }

}